@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla", sans-serif;
}
textarea:focus,
input:focus {
  outline: none;
}
#app {
  width: 100%;
}

.image-right {
  margin-top: -31%;
}

.scrollable {
  /* background-color: #e0e0e0; */
  height: 100vh;
  padding: 10px;
  overflow-y: hidden;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.box {
  margin: 20px 10px;
  width: 300px;
  height: 401px;
  overflow: hidden;
  transform: scale(1);
  border-radius: 7px;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.box img {
  transform: scale(1.15);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

img:hover {
  cursor: pointer;
  transform: scale(1);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.fading {
  animation: fading 6.5s linear;
  margin: 0 10px !important;
  height: 0px;
}

.x-divider:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgba(20, 12, 64, 0.2);
}

@keyframes fading {
  from {
    height: 401px;
  }
  to {
    height: 0px;
  }
}

@tailwind base;
@tailwind components;
.badge-text {
  font-size: 0.7rem;
  padding: 2px 4px;
}
nav .block a:hover {
  @apply border-b-2 border-gray-600;
}
nav .block a {
  font-size: 1.1rem;
}
button {
  @apply bg-blue-600 text-white px-6 py-2 rounded-full;
}
.blue {
  @apply text-blue-700;
}
@tailwind utilities;
