html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
}
.scrollable {
  /* background-color: #e0e0e0; */
  height: 100vh;
  padding: 10px;
  overflow-y: hidden;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.box {
  margin: 10px;
  width: 300px;
  height: 401px;
  overflow: hidden;
  transform: scale(1);
  /* background-color: lightseagreen; */
  border-radius: 7px;
  transition: 1.5s cubic-bezier(.19,1,.22,1);
}

.box img {
  transform: scale(1.15);
  transition: 1.5s cubic-bezier(.19,1,.22,1);
}

img:hover {
  cursor: pointer;
  transform: scale(1);
  transition: 2s cubic-bezier(.19,1,.22,1);
}

.box:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 2s cubic-bezier(.19,1,.22,1);
}

.fading {
  animation: fading 6.5s linear;
  margin: 0 10px !important;
    height: 0px;
}

@keyframes fading {
  from {
    height: 401px;
  } to {
    height: 0px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;